.light {
    --bg-color: #f0f8ff;
    --font-color: #333333;
    --hl-color: #d9534f;
    --fg-color: #5cb85c;
}

.dark {
    --bg-color: #262626;
    --font-color: #f0f0f0;
    --hl-color: #ff5555;
    --fg-color: #50fa7b;
}